{% load bootstrap4 %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
          shrink-to-fit=no">
    <title>Feed</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eed8ab;">

        <a class="navbar-brand" href="{% url 'FeedApp:index'%}">
            Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FeedApp:profile' %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FeedApp:friends' %}">Friends Requests</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Feed
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'FeedApp:myfeed' %}">My Feed</a>
                        <a class="dropdown-item" href="{% url 'FeedApp:friendsfeed' %}">Friends Feed</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sneakers Websites
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.nike.com/" target="_blank">Nike</a>
                        <a class="dropdown-item" href="https://www.adidas.com/us" target="_blank">Adidas</a>
                        <a class="dropdown-item" href="https://www.underarmour.com/en-us/" target="_blank">Under
                            Armour</a>
                        <a class="dropdown-item" href="https://us.puma.com/us/en" target="_blank">Puma</a>
                        <a class="dropdown-item" href="https://www.newbalance.com/" target="_blank">New Balance</a>
                        <a class="dropdown-item" href="https://www.reebok.com/us/" target="_blank">Reebok</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resale Market
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.goat.com/" target="_blank">GOAT</a>
                        <a class="dropdown-item" href="https://stockx.com/" target="_blank">StockX</a>
                        <a class="dropdown-item" href="https://www.flightclub.com/" target="_blank">Flight Club</a>
                        <a class="dropdown-item" href="https://www.stadiumgoods.com/en-us/" target="_blank">Stadium
                            Goods</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'FeedApp:profile' %}">Hello, {{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>

        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>




</html>