{% extends "FeedApp/base.html" %}
{% load static %}

{% block page_header %}
<style>
    .jumbotron {
        background-image: url("static/FeedApp/images/JumbotronBackground.jpg");
        background-size: cover;
    }
</style>
<div class="jumbotron">
    <div class="container-fluid">
        <h1 class="display-5">Playground for Real Basketball Sneakerheads</h1>
        <p class="lead">There are sneakers that cost more than an iPod. -- Steve Jobs
        </p>

        <a class="btn btn-outline-warning btn-lg" href="{% url 'users:register' %}" role="button">Join Now &raquo;</a>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8_6hjIAF5Ws" allowfullscreen></iframe>
</div>

{% endblock page_header %}